gunicorn
flask
pytesseract
PyMuPDF  
frontend 
tools    
pytz
puremagic
pathlib
looseversion
urllib3
tzdata
traits
sniffio
six
simplejson
pyparsing
Pillow
packaging
numpy
networkx
markupsafe
lxml
itsdangerous
idna
h11
filelock
configparser
configobj
click
ci-info
charset_normalizer
certifi
blinker
aiofiles
acres
werkzeug
uvicorn
scipy
requests
rdflib
python-dateutil
pydot
nibabel
jinja2
httplib2
anyio
starlette
pyxnat
prov
pandas
etelemetry
nipype
fitz